*.vsidx
*.v2
/ProductManagement.API/bin/
/ProductManagement.API/.vs/
/ProductManagement.API/obj/
/ProductManagement.Application/obj/
/ProductManagement.Application/bin/
/ProductManagement.Domain/obj/
/ProductManagement.Domain/bin/
/ProductManagement.Infrastructure/obj/
/ProductManagement.Infrastructure/bin/
