USE [mkpDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Productos_GetAll]    Script Date: 19/11/2025 02:09:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SELECT PRODUCTOS
ALTER PROCEDURE [dbo].[sp_Productos_GetAll]
AS
BEGIN
SELECT
    p.ProductoId,
    p.Nombre,
    p.Descripcion,
    p.Precio,
    p.CategoriaId,
    p.UsuarioId,
    p.ImagenBase64,
    p.FechaPublicacion,
    p.Activo,
    c.CategoriaId,
    c.Nombre AS CategoriaNombre,
    u.UsuarioId,
    u.Nombre AS UsuarioNombre
FROM Productos p
INNER JOIN Categorias c ON p.CategoriaId = c.CategoriaId
INNER JOIN Usuarios u ON p.UsuarioId = u.UsuarioId;
END
